.marge-top {
    margin-top: 10vh;
}

.search {
    border: 2px solid black;
    width: 33.33%;
    height: 40vh;
    background-color: #E2E2E2;
}
.search-bar{
    border: 2px solid black;
    margin-top : 3vh;
    width: 33.33%;
    height: 10vh;
    background-color: #E2E2E2;
}

@media (max-width: 767px) {

    .search {
        border: 2px solid black;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
        height: 100%;
        background-color: #E2E2E2;
    }

    .search-bar {
        border: 2px solid black;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
        margin-top: 0;
        background-color: #E2E2E2;
    }
    h4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
    }

}