<div class="buffer"></div>
<mat-accordion>
    <mat-expansion-panel class="partGroupAcc">
        <mat-expansion-panel-header>
          <mat-panel-title class ="partGroupTitle">
            PARTIE CYCLE
          </mat-panel-title>
        </mat-expansion-panel-header>
    
      <div class="cardContainer">

        <mat-card class="partCard">
          <mat-card-title class="partCardTitle">
            <div class="partImage"></div> Cadre
          </mat-card-title>
        </mat-card>

        <mat-card class="partCard">
          <mat-card-title class="partCardTitle">
            <div class="partImage"></div> Fourche
          </mat-card-title>
        </mat-card>

        <mat-card class="partCard">
          <mat-card-title class="partCardTitle">
            <div class="partImage"></div> Bras oscillant
          </mat-card-title>
        </mat-card>

        <mat-card class="partCard">
          <mat-card-title class="partCardTitle">
            <div class="partImage"></div> Béquille
          </mat-card-title>
        </mat-card>

        <mat-card class="partCard">
          <mat-card-title class="partCardTitle">
            <div class="partImage"></div> Amortisseur arrière
          </mat-card-title>  
        </mat-card>
        <mat-card class="partCard">
          <mat-card-title class="partCardTitle">
            <div class="partImage"></div> Guidon
          </mat-card-title> 
        </mat-card>

        <mat-card class="partCard">
          <mat-card-title class="partCardTitle">
            <div class="partImage"></div> Platine repose pied
          </mat-card-title>
        </mat-card>

        <mat-card class="partCard">
          <mat-card-title class="partCardTitle">
            <div class="partImage"></div> Frein avant
          </mat-card-title>
        </mat-card>

        <mat-card class="partCard">
          <mat-card-title class="partCardTitle">
            <div class="partImage"></div> Frein arrière
          </mat-card-title>
        </mat-card>

        <mat-card class="partCard">
          <mat-card-title class="partCardTitle">
            <div class="partImage"></div> Jantes
          </mat-card-title>
        </mat-card>

      </div>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel class="partGroupAcc">
      <mat-expansion-panel-header>
        <mat-panel-title class ="partGroupTitle">
          PARTIE MOTEUR
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <div class="cardContainer">
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Moteur Complet
        </mat-card-title>
      </mat-card>
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Carburateur/Injection
        </mat-card-title>
      </mat-card>
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Boite à air
        </mat-card-title>
      </mat-card>
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Démarreur
        </mat-card-title>
      </mat-card>
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Echappement
        </mat-card-title>
      </mat-card>
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Radiateur
        </mat-card-title>
      </mat-card>
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Câbles
        </mat-card-title>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel class="partGroupAcc">
    <mat-expansion-panel-header>
      <mat-panel-title class ="partGroupTitle">
        ELECTRIQUE
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <div class="cardContainer">
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Faiseaux électrique
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Eclairage
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Compteur
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Serrure / Kit neiman
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Régulateur de tension
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Bobine d'allumage
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Relais de démarreur
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Alternateur
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Commodo
        </mat-card-title>
      </mat-card>

    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel class="partGroupAcc">
    <mat-expansion-panel-header>
      <mat-panel-title class ="partGroupTitle">
        PARTIE HABILLAGE
      </mat-panel-title>
    </mat-expansion-panel-header>
      
    <div class="cardContainer">
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Réservoir
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Selle
        </mat-card-title>
      </mat-card>
      
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Carénages divers
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Poignnée arrière
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Garde boue
        </mat-card-title>
      </mat-card>
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Coque arrière
        </mat-card-title>
      </mat-card>

      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Protège chaine
        </mat-card-title>
      </mat-card>
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Alternateur
        </mat-card-title>
      </mat-card>
      <mat-card class="partCard">
        <mat-card-title class="partCardTitle">
          <div class="partImage"></div> Passage de roue
        </mat-card-title>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>



