<div class="buffer"></div>
<mat-accordion>
    <mat-expansion-panel class="partGroupAcc">
        <mat-expansion-panel-header>
          <mat-panel-title>
            PARTIE CYCLE
          </mat-panel-title>
        </mat-expansion-panel-header>
    
      <div class="cardContainer">  
        <mat-card class="partCard">Cadre</mat-card>
        <mat-card class="partCard">Fourche</mat-card>
        <mat-card class="partCard">Bras oscillant</mat-card>
        <mat-card class="partCard">Béquille</mat-card>
        <mat-card class="partCard">Amortisseur arrière</mat-card>
        <mat-card class="partCard">Guidon</mat-card>
        <mat-card class="partCard">Platine repose pied</mat-card>
        <mat-card class="partCard">Frein avant</mat-card>
        <mat-card class="partCard">Frein arrière</mat-card>
        <mat-card class="partCard">Jantes</mat-card>
      </div>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel class="partGroupAcc">
      <mat-expansion-panel-header>
        <mat-panel-title>
          PARTIE MOTEUR
        </mat-panel-title>
      </mat-expansion-panel-header>
  

    <mat-card class="partCard">Moteur Complet</mat-card>
    <mat-card class="partCard">Carburateur/Injection</mat-card>
    <mat-card class="partCard">Boite à air</mat-card>
    <mat-card class="partCard">Démarreur</mat-card>
    <mat-card class="partCard">Echappement</mat-card>
    <mat-card class="partCard">Radiateur</mat-card>
    <mat-card class="partCard">Câbles</mat-card>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel class="partGroupAcc">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ELECTRIQUE
      </mat-panel-title>
    </mat-expansion-panel-header>
    
  
    <mat-card class="partCard">Faiseaux électrique</mat-card>
    <mat-card class="partCard">Eclairage</mat-card>
    <mat-card class="partCard">Compteur</mat-card>
    <mat-card class="partCard">Serrure / Kit neiman</mat-card>
    <mat-card class="partCard">Régulateur de tension</mat-card>
    <mat-card class="partCard">Bobine d'allumage</mat-card>
    <mat-card class="partCard">Relais de démarreur</mat-card>
    <mat-card class="partCard">Alternateur</mat-card>
    <mat-card class="partCard">Commodo</mat-card>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel class="partGroupAcc">
    <mat-expansion-panel-header>
      <mat-panel-title>
        PARTIE HABILLAGE
      </mat-panel-title>
    </mat-expansion-panel-header>
      
    
    <mat-card class="partCard">Réservoir</mat-card>
    <mat-card class="partCard">Selle</mat-card>
    <mat-card class="partCard">Carénages divers</mat-card>
    <mat-card class="partCard">Poignnée arrière</mat-card>
    <mat-card class="partCard">Garde boue</mat-card>
    <mat-card class="partCard">Coque arrière</mat-card>
    <mat-card class="partCard">Protège chaine</mat-card>
    <mat-card class="partCard">Alternateur</mat-card>
    <mat-card class="partCard">Passage de roue</mat-card>
  </mat-expansion-panel>
</mat-accordion>



