<div class="buffer"></div>
<mat-accordion>
    <mat-expansion-panel class="partGroupAcc">
        <mat-expansion-panel-header>
          <mat-panel-title>
            PARTIE CYCLE
          </mat-panel-title>
        </mat-expansion-panel-header>
    
  
      <mat-card>Cadre</mat-card>
      <mat-card>Fourche</mat-card>
      <mat-card>Bras oscillant</mat-card>
      <mat-card>Béquille</mat-card>
      <mat-card>Amortisseur arrière</mat-card>
      <mat-card>Guidon</mat-card>
      <mat-card>Platine repose pied</mat-card>
      <mat-card>Frein avant</mat-card>
      <mat-card>Frein arrière</mat-card>
      <mat-card>Jantes</mat-card>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel class="partGroupAcc">
      <mat-expansion-panel-header>
        <mat-panel-title>
          PARTIE MOTEUR
        </mat-panel-title>
      </mat-expansion-panel-header>
  

    <mat-card>Moteur Complet</mat-card>
    <mat-card>Carburateur/Injection</mat-card>
    <mat-card>Boite à air</mat-card>
    <mat-card>Démarreur</mat-card>
    <mat-card>Echappement</mat-card>
    <mat-card>Radiateur</mat-card>
    <mat-card>Câbles</mat-card>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel class="partGroupAcc">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ELECTRIQUE
      </mat-panel-title>
    </mat-expansion-panel-header>
    
  
    <mat-card>Faiseaux électrique</mat-card>
    <mat-card>Eclairage</mat-card>
    <mat-card>Compteur</mat-card>
    <mat-card>Serrure / Kit neiman</mat-card>
    <mat-card>Régulateur de tension</mat-card>
    <mat-card>Bobine d'allumage</mat-card>
    <mat-card>Relais de démarreur</mat-card>
    <mat-card>Alternateur</mat-card>
    <mat-card>Commodo</mat-card>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel class="partGroupAcc">
    <mat-expansion-panel-header>
      <mat-panel-title>
        PARTIE HABILLAGE
      </mat-panel-title>
    </mat-expansion-panel-header>
      
    
    <mat-card>Réservoir</mat-card>
    <mat-card>Selle</mat-card>
    <mat-card>Carénages divers</mat-card>
    <mat-card>Poignnée arrière</mat-card>
    <mat-card>Garde boue</mat-card>
    <mat-card>Coque arrière</mat-card>
    <mat-card>Protège chaine</mat-card>
    <mat-card>Alternateur</mat-card>
    <mat-card>Passage de roue</mat-card>
  </mat-expansion-panel>
</mat-accordion>



