<div class="container">
  <div class=" row">
    <div class="col-12">
      <div class="titlewline">
        <div class="titlewline__title">Authentification <br /></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12 mb-3">
      <div class="account__box ">
        <div class="account__box__title"><h5>Vous avez déjà un compte</h5></div>
        <div class="box_inner">
          <p class="hidden-xs hidden-sm mt-3">
            Identifiez-vous pour accéder à votre espace personnel.
          </p>
          <form>
            <div class="form-group row">
              <div class=" offset-md-1 col-md-10">
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail3"
                  placeholder="Email"
                />
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-md-1 col-md-10">
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword3"
                  placeholder="Password"
                />
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-md-1 col-md-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-12 mb-3">
      <div class="account__box ">
        <div class="account__box__title">
          <h5>Vous êtes un nouveau client</h5>
        </div>
        <div class="box_inner">
          <p class="hidden-xs hidden-sm mt-3">
            Créer votre compte et accéder à votre espace personnel.
          </p>
          <form>
            <div class="form-group bouton_creation">
              <button type="submit" class="btn btn-primary">
                Créer votre compte
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
